rsp-server/STT/models/vosk-model-small-en-us-0.15
rsp-server/STT/models/vosk-model-small-ja-0.22

rsp-server/STT/models/vosk-model-en-us-0.22-lgraph
rsp-server/STT/models/vosk-model-en-us-0.22
rsp-server/STT/models/vosk-model-ja-0.22


rsp-scripts/venv
rsp-scripts/pass.pub

rsp-server/TTS/.env


rsp-server\TTS\mochitts.ipynb
rsp-server/TTS/mochitts.ipynb
